<section class="no-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="padding60 sm-padding40 jarallax position-relative" data-jarallax data-speed="0.5">
                    <img src="assets/images/background/2.webp" class="jarallax-img" alt="">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="subtitle fadeInUp mb-3" data-aos="fade-up">Download now</div>
                            <h2 class="fadeInUp" data-aos="fade-up" data-aos-delay="200">Manage your server from mobile device</h2>
                            <p>Enim sit laborum enim ut in excepteur aliqua consequat est ut aliquip nostrud sunt deserunt consequat fugiat adipisicing minim aliquip do adipisicing cupidatat esse ut irure incididunt ullamco dolor laboris anim ea do ut anim.</p>
                            <a routerLink="/download"><img src="assets/images/misc/download-appstore.webp" class="img-fluid mb-sm-20" alt="download"></a>&nbsp;
                            <a routerLink="/download"><img src="assets/images/misc/download-playstore.webp" class="img-fluid mb-sm-20" alt="download"></a>
                        </div>
                    </div>

                    <img src="assets/images/misc/man-with-phone.webp" class="sm-hide position-absolute bottom-0 end-0 fadeIn" data-aos="fade-in" alt="">
                </div>
            </div>
        </div>
    </div>
</section>