<section class="full-height no-top no-bottom jarallax" data-jarallax data-speed="0.5" [style.background-image]="bgImageUrl1" style="background-size: cover;">
    <div class="de-gradient-edge-top"></div>
    <div class="de-gradient-edge-bottom"></div>
    <div class="overlay-bg t50 no-top no-bottom">
        <div class="v-center">
            <div class="container z-1000">
                <div class="row align-items-center">
                    <div class="col-lg-10 offset-lg-1 text-center">
                        <div class="subtitle blink mb-4">Servers Are Available</div>
                        <h1 class="mb-0 fadeInUp" data-aos="fade-up">Minecraft Server Hosting</h1>
                    </div>
                    <div class="col-lg-6 offset-lg-3 text-center text-white">
                        <p class="fadeInUp" data-aos="fade-up">Aute velit non excepteur in eiusmod proident aute qui ullamco incididunt aliqua aliqua velit cillum deserunt dolore consectetur excepteur magna dolor enim voluptate dolore irure nulla culpa sint nulla do.</p>
                        <a appBtnMainHover class="btn-main fadeInUp" data-aos="fade-up" href="#compare-plans"><span>Compare Our Plans</span></a>

                        <div class="spacer-single"></div>

                        <div class="de-rating-ext fadeInUp" data-aos="fade-up" data-aos-delay="400">
                            <span class="d-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="d-val">4.85</span>
                            based on <strong>14086</strong> reviews.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt90 no-bottom">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="subtitle fadeInUp mb-3" data-aos="fade-up">Incredibly features</div>
                <h2 class="fadeInUp mb20" data-aos="fade-up" data-aos-delay="200">Premium Game Server</h2>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-3 col-md-6 mb-sm-30 fadeInRight" data-aos="fade-up" data-aos-delay="200">
                <div>
                    <img src="assets/images/icons/1.png" class="mb20" alt="">
                    <h4>Super Quick Setup</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices. </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-sm-30 fadeInRight" data-aos="fade-up" data-aos-delay="400">
                <div>
                    <img src="assets/images/icons/2.png" class="mb20" alt="">
                    <h4>Premium Hardware</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices. </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-sm-30 fadeInRight" data-aos="fade-up" data-aos-delay="600">
                <div>
                    <img src="assets/images/icons/3.png" class="mb20" alt="">
                    <h4>DDos Protection</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices. </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-sm-30 fadeInRight" data-aos="fade-up" data-aos-delay="800">
                <div>
                    <img src="assets/images/icons/4.png" class="mb20" alt="">
                    <h4>Fast Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="compare-plans" class="no-bottom position-relative">
    <div class="container z-1000">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="subtitle fadeInUp mb-3" data-aos="fade-up">Pricing Plans</div>
                <h2 class="fadeInUp mb20" data-aos="fade-up" data-aos-delay="200">Choose plan for you</h2>
                <div class="switch-set">
                    <div>Monthly Plan</div>
                    <div><input id="sw-1" class="switch" type="checkbox"></div>
                    <div>Yearly Plan</div>
                    <div class="spacer-20"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-lg-4 mb-sm-30 fadeInRight" data-aos="fadeInRight" data-aos-delay="200">
                    <div class="de-pricing-plan bg-dark-2 h-100">
                        <div class="d-title">Warrior</div>
                        <div class="d-stars"><i class="fa fa-star"></i></div>
                        <div class="spacer-20"></div>
                        <div class="d-specs">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-item">
                                        40<span>Player Slots</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-item">
                                        4GB<span>Memory</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-20"></div>
                        <div class="d-price">
                            <span class="d-cur">$</span>
                            <span class="d-value opt-1">14.99</span>
                            <span class="d-value opt-2">9.99</span>
                            <span class="d-period">/monthly</span>
                        </div>
                        <div class="d-sub-price">
                            <span class="opt-1">$0.50</span><span class="opt-2">$0.25</span> per slot
                        </div>
                        <div class="spacer-20"></div>
                        <a appBtnMainHover class="btn-main btn-fullwidth" href="javascript:void(0);"><span>Order Now</span></a>
                    </div>
                </div>

                <div class="col-lg-4 mb-sm-30 fadeInRight" data-aos="fadeInRight" data-aos-delay="400">
                    <div class="de-pricing-plan bg-dark-2 h-100 d-feature">
                        <div class="d-badge">Top Seller</div>
                        <div class="d-title">General</div>
                        <div class="d-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="spacer-20"></div>
                        <div class="d-specs">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-item">
                                        60<span>Player Slots</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-item">
                                        8GB<span>Memory</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-20"></div>
                        <div class="d-price">
                            <span class="d-cur">$</span>
                            <span class="d-value opt-1">19.99</span>
                            <span class="d-value opt-2">14.99</span>
                            <span class="d-period">/monthly</span>
                        </div>
                        <div class="d-sub-price">
                            <span class="opt-1">$0.50</span><span class="opt-2">$0.25</span> per slot
                        </div>
                        <div class="spacer-20"></div>
                        <a appBtnMainHover class="btn-main btn-fullwidth" href="javascript:void(0);"><span>Order Now</span></a>
                    </div>
                </div>

                <div class="col-lg-4 mb-sm-30 fadeInRight" data-aos="fadeInRight" data-aos-delay="600">
                    <div class="de-pricing-plan bg-dark-2 h-100">
                        <div class="d-title">Commander</div>
                        <div class="d-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div class="spacer-20"></div>
                        <div class="d-specs">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-item">
                                        125<span>Player Slots</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-item">
                                        16GB<span>Memory</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-20"></div>
                        <div class="d-price">
                            <span class="d-cur">$</span>
                            <span class="d-value opt-1">29.99</span>
                            <span class="d-value opt-2">24.99</span>
                            <span class="d-period">/monthly</span>
                        </div>
                        <div class="d-sub-price">
                            <span class="opt-1">$0.40</span><span class="opt-2">$0.20</span> per slot
                        </div>
                        <div class="spacer-20"></div>
                        <a appBtnMainHover class="btn-main btn-fullwidth" href="javascript:void(0);"><span>Order Now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container z-1000">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="subtitle fadeInUp mb-3">Most complete</div>
                <h2 class="fadeInUp mb20" data-aos="fade-up" data-aos-delay="200">Game Collection</h2>
            </div>
        </div>
        <div class="row g-4 sequence">
            <ng-container *ngFor="let game of games">
                <div class="col-lg-3 col-md-6 gallery-item">
                    <div class="de-item" data-aos="fade-up">
                        <div class="d-overlay">
                            <div class="d-label">
                                20% OFF
                            </div>
                            <div class="d-text">
                                <h4>{{ game.title }}</h4>
                                <p class="d-price">Starting at <span class="price">{{ game.price }}</span></p>
                                <a appBtnMainHover class="btn-main btn-fullwidth" [href]="game.orderLink"><span>Order Now</span></a>
                            </div>
                        </div>
                        <img [src]="game.image" class="img-fluid" alt="{{ game.title }}">
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>


<section class="no-top no-bottom jarallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="subtitle fadeInUp mb-3" data-aos="fade-up">Server locations</div>
                <h2 class="fadeInUp mb20" data-aos="fade-up" data-aos-delay="200">25 Servers Worldwide</h2>
            </div>

            <div class="spacer-10"></div>
            <div class="col-lg-12 fadeInUp" data-aos="fade-up">
                <div class="p-sm-30 pb-sm-0 mb-sm-0">
                    <div class="de-map-hotspot">
                        <ng-container *ngFor="let spot of spots">
                            <div class="de-spot fadeIn" [ngStyle]="{top: spot.top, left: spot.left}" data-aos="fade-in">
                                <span>{{ spot.country }}</span>
                                <div class="de-circle-1"></div>
                                <div class="de-circle-2"></div>
                            </div>
                        </ng-container>
                        <img src="assets/images/misc/world-map.webp" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="no-bottom fadeInRight d-flex z-1000" data-aos="fadeInRight">
        <marquee class="marq" direction="left" loop="" scrollamount="30">
            <div class="de-marquee-list" data-aos="fade-up">
                <ng-container *ngFor="let city of cities">
                    <span class="d-item-txt">{{ city }}</span>
                    <span class="d-item-display">
                        <i class="d-item-block"></i>
                    </span>
                </ng-container>
            </div>
        </marquee>
    </div>
</section>
<section class="no-bottom">
    <app-questions></app-questions>
</section>
<section class="no-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="subtitle fadeInUp mb-3" data-aos="fade-up">Latest From Us</div>
                <h2 class="fadeInUp" data-aos="fade-up" data-aos-delay="200">News &amp; Promo</h2>
                <div class="spacer-20"></div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 mb10" *ngFor="let post of blogPosts">
                <div class="bloglist item">
                    <div class="post-content">
                        <div class="post-image">
                            <div class="d-tagline">
                                <span>games</span>
                                <span>guide</span>
                            </div>
                            <img alt="" [src]="post.imgSrc" class="lazy">
                        </div>
                        <div class="post-text">
                            <div class="d-date">{{ post.date }}</div>
                            <h4><a [href]="post.link">{{ post.title }}<span></span></a></h4>
                            <p>{{ post.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="subtitle fadeInUp mb-3" data-aos="fade-up">Payment Methods</div>
                <h2 class=" fadeInUp" data-aos="fade-up" data-aos-delay="200">We accept</h2>
                <div class="spacer-20"></div>
            </div>
            <div class="col-lg-12 text-center">
                <div class="row g-4">
                    <div class="col-sm-2 col-4" *ngFor="let payment of paymentMethods">
                        <div class="m-1 p-4 rounded-10" data-bgcolor="rgba(255, 255, 255, .05)">
                            <img [src]="payment.imgSrc" [alt]="payment.alt" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>