<section id="subheader" class="jarallax">
    <img src="assets/images/background/subheader-about.webp" class="jarallax-img" alt="">
    <div class="container z-1000">
        <div class="row">
            <div class="col-lg-12">
                <div class="subtitle fadeInUp mb-3" data-aos="fade-up">About us</div>
            </div>
            <div class="col-lg-6">
                <h2 class="fadeInUp mb20" data-aos="fade-up" data-aos-delay="200">This is our story</h2>
            </div>
        </div>
    </div>
</section>

<section class="no-bottom">
    <div class="container">
        <div class="row align-items-center gh-5">
            <div class="col-lg-6 position-relative">
                <div class="images-deco-1">
                    <img src="assets/images/misc/building.webp" class="d-img-1 zoomIn" data-aos="fade-in" data-aos-delay="0" alt="">
                    <img src="assets/images/misc/girl-ai.webp" class="d-img-2 zoomIn" data-aos="fade-in" data-aos-delay="500" alt="">
                    <div class="d-img-3 bg-color zoomIn" data-aos="fade-in" data-aos-delay="600"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subtitle mb20">We are Playhost</div>
                <h2 class="fadeInUp" data-aos="fade-up">The beginning</h2>
                <p class="fadeInUp" data-aos="fade-up">Lorem ipsum ea ut magna nisi amet reprehenderit eu adipisicing nisi incididunt est sint fugiat deserunt tempor ea culpa nostrud commodo deserunt et do ullamco non tempor veniam id culpa mollit veniam ut non adipisicing ad commodo laborum esse do sunt in cillum irure incididunt officia quis ut.</p>
                <div class="year-card fadeInUp" data-aos="fade-up">
                    <h1><span class="id-color">25</span></h1>
                    <div class="atr-desc">Years<br>Experience<br>Hosting</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="row gx-5">
                    <div class="col-lg-6 col-md-6 fadeInRight" data-aos="fade-up" data-aos-delay="200">
                        <h4>Our Vision</h4>
                        <p>Adipisicing pariatur dolor pariatur officia aliqua ex irure aliqua ut exercitation nulla exercitation esse duis do commodo exercitation sed exercitation aliquip fugiat. Dolor ad amet sed aliqua ad nisi anim fugiat dolor labore ex non amet id mollit amet id magna elit fugiat voluptate aliquip in est quis aliquip aliqua eu. Lorem ipsum irure sed nisi id aute exercitation fugiat.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 fadeInRight" data-aos="fade-up" data-aos-delay="400">
                        <h4>Our Mission</h4>
                        <p>Adipisicing pariatur dolor pariatur officia aliqua ex irure aliqua ut exercitation nulla exercitation esse duis do commodo exercitation sed exercitation aliquip fugiat. Ut excepteur deserunt labore exercitation commodo exercitation minim aliquip in aliqua deserunt nulla aliquip officia ut eiusmod irure ullamco sunt sunt velit dolor ex. Enim eu proident in non officia culpa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-bottom fadeInUp" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="subtitle mb20">Our solid team</div>
                <h2 class="mb20 fadeInUp" data-aos="fade-up">Behind the scene</h2>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-sm-30">
                <div class="f-profile text-center">
                    <div class="fp-wrap f-invert">
                        <div class="fpw-overlay">
                            <div class="fpwo-wrap">
                                <div class="fpwow-icons">
                                    <a href="javascript:void(0);"><i class="fa-brands fa-facebook fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-twitter fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-tiktok fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="fpw-overlay-btm"></div>
                        <img src="assets/images/team/1.webp" class="fp-image img-fluid" alt="">
                    </div>

                    <h4>Robyn Peel</h4>
                    CEO Founder
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-sm-30">
                <div class="f-profile text-center">
                    <div class="fp-wrap f-invert">
                        <div class="fpw-overlay">
                            <div class="fpwo-wrap">
                                <div class="fpwow-icons">
                                    <a href="javascript:void(0);"><i class="fa-brands fa-facebook fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-twitter fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-tiktok fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="fpw-overlay-btm"></div>
                        <img src="assets/images/team/3.webp" class="fp-image img-fluid" alt="">
                    </div>

                    <h4>Anna Shepard</h4>
                    Director
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-sm-30">
                <div class="f-profile text-center">
                    <div class="fp-wrap f-invert">
                        <div class="fpw-overlay">
                            <div class="fpwo-wrap">
                                <div class="fpwow-icons">
                                    <a href="javascript:void(0);"><i class="fa-brands fa-facebook fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-twitter fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-tiktok fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="fpw-overlay-btm"></div>
                        <img src="assets/images/team/4.webp" class="fp-image img-fluid" alt="">
                    </div>

                    <h4>Fynley Wilkinson</h4>
                    Developer
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-testimonial" class="no-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="subtitle mb20">Customer reviews</div>
                <h2 class="fadeInUp" data-aos="fade-up">4.85 out of 5</h2>
                <div class="spacer-20"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="swiper-container" #testimonialCarousel>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let testimonial of testimonials">
                        <div class="de_testi type-2">
                            <blockquote>
                                <div class="de-rating-ext">
                                    <span class="d-stars">
                                        <i class="fa fa-star" *ngFor="let star of stars"></i>
                                    </span>
                                </div>
                                <p>{{ testimonial.text }}</p>
                                <div class="de_testi_by">
                                    <img [src]="testimonial.image" alt="{{ testimonial.author }}"> <span>{{ testimonial.author }}</span>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <!-- Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6 mb-sm-30 position-relative">
                <div class="de_count text-light fadeInUp">
                    <h3 class="timer id-color" [countUp]="15425" [options]="{decimalPlaces:0}">0</h3>
                    <h4 class="text-uppercase">Happy<br>Gamers</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-sm-30 position-relative">
                <div class="de_count text-light fadeInUp">
                    <h3 class="timer text-line" [countUp]="8745" [options]="{decimalPlaces:0}">0</h3>
                    <h4 class="text-uppercase">Servers<br>Ordered</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-sm-30 position-relative">
                <div class="de_count text-light fadeInUp">
                    <h3 class="timer id-color" [countUp]="235" [options]="{decimalPlaces:0}">0</h3>
                    <h4 class="text-uppercase">Awards<br>Winning</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-sm-30 position-relative">
                <div class="de_count text-light fadeInUp">
                    <h3 class="timer text-line" [countUp]="15" [options]="{decimalPlaces:0}">0</h3>
                    <h4 class="text-uppercase">Years<br>Experience</h4>
                </div>
            </div>
        </div>
    </div>
</section>