<section class="v-center jarallax">
    <div class="de-gradient-edge-top"></div>
    <div class="de-gradient-edge-bottom"></div>
    <img src="assets/images/background/5.webp" class="jarallax-img" alt="">
    <div class="container z-1000">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2">
                <div class="p-5 rounded-10 shadow-soft bg-dark-1">
                    <form name="contactForm" id='contact_form' class="form-border" method="post" action='#'>
                        <h4>Don't have an account? Register now.</h4>
                        <p>Welcome to Plahost. We're excited to have you on board. By creating an account with us, you'll gain access to a range of benefits and convenient features that will enhance your car rental experience.</p>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="field-set">
                                    <label>Name:</label>
                                    <input type='text' name='name' id='name' class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="field-set">
                                    <label>Email Address:</label>
                                    <input type='text' name='email' id='email' class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="field-set">
                                    <label>Choose a Username:</label>
                                    <input type='text' name='username' id='username' class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="field-set">
                                    <label>Phone:</label>
                                    <input type='text' name='phone' id='phone' class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="field-set">
                                    <label>Password:</label>
                                    <input type='text' name='password' id='password' class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="field-set">
                                    <label>Re-enter Password:</label>
                                    <input type='text' name='re-password' id='re-password' class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-6 offset-lg-3 text-center">
                                <div id='submit'>
                                    <input type='submit' id='send_message' value='Register Now' appBtnMainHover class="btn-main color-2">
                                </div>
                            </div>


                            <div class="col-md-12">

                                <div id='mail_success' class='success'>Your message has been sent successfully.</div>
                                <div id='mail_fail' class='error'>Sorry, error occured this time sending your message.</div>
                                <div class="clearfix"></div>

                            </div>

                            <div class="col-lg-6 offset-lg-3">
                                <div class="title-line">Or&nbsp;sign&nbsp;up&nbsp;with</div>
                                <div class="row g-2">
                                    <div class="col-lg-6">
                                        <a class="btn-sc btn-fullwidth mb10" href="javascript:void(0);"><img src="assets/images/svg/google_icon.svg" alt="">Google</a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a class="btn-sc btn-fullwidth mb10" href="javascript:void(0);"><img src="assets/images/svg/facebook_icon.svg" alt="">Facebook</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>