<footer>
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-4">
                <img src="assets/images/logo.png" alt="">
                <div class="spacer-20"></div>
                <p>Lorem ipsum culpa tempor tempor eu laboris adipisicing sunt excepteur enim laborum officia eiusmod laborum sint do aliqua incididunt est aute deserunt in elit non sed ut velit ullamco aliquip. Nulla cupidatat elit amet sed labore ut et consequat nostrud laboris aliqua ex est fugiat quis aliqua duis quis esse dolor laboris non duis sunt.</p>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="widget">
                            <h5>Game Server</h5>
                            <ul>
                                <li><a href="javascript:void(0);">Thunder and City</a></li>
                                <li><a href="javascript:void(0);">Mystic Racing Z</a></li>
                                <li><a href="javascript:void(0);">Silent Wrath</a></li>
                                <li><a href="javascript:void(0);">Funk Dungeon</a></li>
                                <li><a href="javascript:void(0);">Galactic Oddsey</a></li>
                                <li><a href="javascript:void(0);">Warfare Legend</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="widget">
                            <h5>Pages</h5>
                            <ul>
                                <li><a href="javascript:void(0);">Game Server</a></li>
                                <li><a href="javascript:void(0);">Knowledgebase</a></li>
                                <li><a href="javascript:void(0);">About Us</a></li>
                                <li><a href="javascript:void(0);">Affliates</a></li>
                                <li><a href="javascript:void(0);">Locations</a></li>
                                <li><a href="javascript:void(0);">News</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget">
                    <h5>Newsletter</h5>
                    <form action="blank.php" class="row form-dark" id="form_subscribe" method="post" name="form_subscribe">
                        <div class="col text-center">
                            <input class="form-control" id="txt_subscribe" name="txt_subscribe" placeholder="enter your email" type="text"> <a href="javascript:void(0);" id="btn-subscribe"><i class="arrow_right bg-color-secondary"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                    <div class="spacer-10"></div>
                    <small>Your email is safe with us. We don't spam.</small>
                    <div class="spacer-30"></div>
                    <div class="widget">
                        <h5>Follow Us on</h5>
                        <div class="social-icons">
                            <a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a>
                            <a href="javascript:void(0);"><i class="fa-brands fa-discord"></i></a>
                            <a href="javascript:void(0);"><i class="fa-brands fa-tiktok"></i></a>
                            <a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            <a routerLink="/">
                                Copyright 2024 - Playhost by Designesia
                            </a>
                        </div>
                        <ul class="menu-simple">
                            <li><a href="javascript:void(0);">Terms &amp; Conditions</a></li>
                            <li><a href="javascript:void(0);">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>