<section id="subheader" class="jarallax">
    <img src="assets/images/background/subheader-faq.webp" class="jarallax-img" alt="">
    <div class="container z-1000">
        <div class="row">
            <div class="col-lg-12">
                <div class="subtitle fadeInUp mb-3" data-aos="fade-up">Do you have</div>
            </div>
            <div class="col-lg-6">
                <h2 class="fadeInUp mb20" data-aos="fade-up" data-aos-delay="200">Any questions?</h2>
            </div>
        </div>
    </div>
</section>
<!-- section close -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="accordion s2 fadeInUp">
                    <div class="accordion-section" *ngFor="let accordion of accordionsLeft; let i = index">
                        <div class="accordion-section-title" [ngClass]="{ active: activeAccordion === i }" (click)="toggleAccordion(i)">
                            {{ accordion.title }}
                        </div>
                        <div class="accordion-section-content" [ngStyle]="{ display: activeAccordion === i ? 'block' : 'none' }" *ngIf="activeAccordion === i">
                            <p>{{ accordion.content }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="accordion s2 fadeInUp">
                    <div class="accordion-section" *ngFor="let accordion of accordionsRight; let i = index">
                        <div class="accordion-section-title" [ngClass]="{ active: activeAccordionRight === i }" (click)="toggleAccordionRight(i)">
                            {{ accordion.title }}
                        </div>
                        <div class="accordion-section-content" [ngStyle]="{ display: activeAccordionRight === i ? 'block' : 'none' }" *ngIf="activeAccordionRight === i">
                            <p>{{ accordion.content }}</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="spacer-double"></div>

            <div class="col-lg-12">
                <div class="padding40 rounded-10" data-bgcolor="rgba(255, 255, 255, .1)">
                    <div class="row align-items-center">
                        <div class="col-lg-1">
                            <img src="assets/images/icons/4.png" alt="" class="img-responsive">
                        </div>
                        <div class="col-lg-9">
                            <h4>Cannot find answer? Contact our customer support now.</h4>
                        </div>
                        <div class="col-lg-2 text-lg-end">
                            <a appBtnMainHover class="btn-main" href="javascript:void(0);"><span>Contact Us</span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>