<header [ngClass]="headerClass">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div class="de-flex-col">
                        <div class="de-flex-col">
                            <!-- logo begin -->
                            <div id="logo">
                                <a routerLink="/">
                                    <img class="logo-main" src="assets/images/logo.png" alt="">
                                    <img class="logo-mobile" src="assets/images/logo-mobile.png" alt="">
                                </a>
                            </div>
                            <!-- logo close -->
                        </div>
                    </div>
                    <div class="de-flex-col header-col-mid">
                        <ul id="mainmenu">
                            <li><a class="menu-item" routerLink="/">Home</a>
                                <ul class="mega">
                                    <li>
                                        <div class="container">
                                            <div class="sb-menu p-4">
                                                <div class="row g-4 text-center">

                                                    <div class="col-lg-2">
                                                        <a class="d-img-preview mb-2 active" routerLink="/">
                                                            <img src="assets/images/demo/homepage-1.webp" class="color img-fluid" alt="">
                                                        </a>
                                                        <h6 class="mb-0">Homepage 1</h6>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <a class="d-img-preview mb-2" routerLink="/homepage-2">
                                                            <img src="assets/images/demo/homepage-2.webp" class="color img-fluid" alt="">
                                                        </a>
                                                        <h6 class="mb-0">Homepage 2</h6>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <a class="d-img-preview mb-2" routerLink="/homepage-3">
                                                            <img src="assets/images/demo/homepage-3.webp" class="color img-fluid" alt="">
                                                        </a>
                                                        <h6 class="mb-0">Homepage 3</h6>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <a class="d-img-preview mb-2" routerLink="/homepage-4">
                                                            <img src="assets/images/demo/homepage-4.webp" class="color img-fluid" alt="">
                                                        </a>
                                                        <h6 class="mb-0">Homepage 4</h6>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <a class="d-img-preview mb-2" routerLink="/homepage-5">
                                                            <img src="assets/images/demo/homepage-5.webp" class="color img-fluid" alt="">
                                                        </a>
                                                        <h6 class="mb-0">Homepage 5</h6>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <a class="d-img-preview mb-2" routerLink="/homepage-6">
                                                            <img src="assets/images/demo/homepage-6.webp" class="color img-fluid" alt="">
                                                        </a>
                                                        <h6 class="mb-0">Homepage 6</h6>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <a class="d-img-preview mb-2" routerLink="/homepage-7">
                                                            <img src="assets/images/demo/homepage-7.webp" class="color img-fluid" alt="">
                                                        </a>
                                                        <h6 class="mb-0">Homepage 7</h6>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <a class="d-img-preview mb-2" routerLink="/homepage-8">
                                                            <img src="assets/images/demo/homepage-8.webp" class="color img-fluid" alt="">
                                                        </a>
                                                        <h6 class="mb-0">Homepage 8</h6>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <a class="d-img-preview mb-2" routerLink="/homepage-9">
                                                            <img src="assets/images/demo/homepage-9.webp" class="color img-fluid" alt="">
                                                        </a>
                                                        <h6 class="new mb-0">Homepage 9</h6>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <a class="d-img-preview mb-2" routerLink="/homepage-10">
                                                            <img src="assets/images/demo/homepage-10.webp" class="color img-fluid" alt="">
                                                        </a>
                                                        <h6 class="new mb-0">Homepage 10</h6>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <a class="d-img-preview mb-2" routerLink="/onepage-1">
                                                            <img src="assets/images/demo/onepage-1.webp" class="color img-fluid" alt="">
                                                        </a>
                                                        <h6 class="mb-0">Onepage 1</h6>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <a class="d-img-preview mb-2" routerLink="/onepage-2">
                                                            <img src="assets/images/demo/onepage-2.webp" class="color img-fluid" alt="">
                                                        </a>
                                                        <h6 class="mb-0">Onepage 2</h6>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="menu-item" routerLink="/game-server-1">Game Servers</a>
                                <ul>
                                    <li><a class="menu-item" routerLink="/game-server-1">Games Server One</a></li>
                                    <li><a class="menu-item" routerLink="/game-server-2">Games Server Two</a></li>
                                    <li><a class="menu-item" routerLink="/pricing-table-one">Pricing Table One</a></li>
                                    <li><a class="menu-item" routerLink="/pricing-table-two">Pricing Table Two</a></li>
                                    <li><a class="menu-item" routerLink="/pricing-table-three">Pricing Table Three</a></li>
                                    <li><a class="menu-item new" routerLink="/pricing-table-four">Pricing Table Four</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="menu-item" routerLink="/game-server-1">Games</a>
                                <ul class="mega">
                                    <li>
                                        <div class="container">
                                            <div class="sb-menu p-lg-4 p-sm-0">
                                                <div class="row g-lg-4 g-sm-0">
                                                    <div class="col-lg-3">
                                                        <div class="d-list-small">
                                                            <a routerLink="/pricing-table-one">
                                                                <img src="assets/images/covers-square/1.webp" class="" alt="">
                                                                <h5>Thunder and City</h5>
                                                            </a>
                                                        </div>
                                                        <div class="d-list-small">
                                                            <a routerLink="/pricing-table-two">
                                                                <img src="assets/images/covers-square/2.webp" class="" alt="">
                                                                <h5>Mystic Racing Z</h5>
                                                            </a>
                                                        </div>
                                                        <div class="d-list-small">
                                                            <a routerLink="/pricing-table-three">
                                                                <img src="assets/images/covers-square/3.webp" class="" alt="">
                                                                <h5>Silent Wrath</h5>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <div class="d-list-small">
                                                            <a routerLink="/pricing-table-four">
                                                                <img src="assets/images/covers-square/4.webp" class="" alt="">
                                                                <h5>Funk Dungeon</h5>
                                                            </a>
                                                        </div>
                                                        <div class="d-list-small">
                                                            <a routerLink="/pricing-table-one">
                                                                <img src="assets/images/covers-square/5.webp" class="" alt="">
                                                                <h5>Galactic Odyssey</h5>
                                                            </a>
                                                        </div>
                                                        <div class="d-list-small">
                                                            <a routerLink="/pricing-table-two">
                                                                <img src="assets/images/covers-square/6.webp" class="" alt="">
                                                                <h5>Warfare Legends</h5>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <div class="d-list-small">
                                                            <a routerLink="/pricing-table-three">
                                                                <img src="assets/images/covers-square/7.webp" class="" alt="">
                                                                <h5>Raceway Revolution</h5>
                                                            </a>
                                                        </div>
                                                        <div class="d-list-small">
                                                            <a routerLink="/pricing-table-four">
                                                                <img src="assets/images/covers-square/8.webp" class="" alt="">
                                                                <h5>Starborne Odyssey</h5>
                                                            </a>
                                                        </div>
                                                        <div class="d-list-small">
                                                            <a routerLink="/pricing-table-one">
                                                                <img src="assets/images/covers-square/9.webp" class="" alt="">
                                                                <h5>Cyber Nexus</h5>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <div class="d-list-small">
                                                            <a routerLink="/pricing-table-two">
                                                                <img src="assets/images/covers-square/10.webp" class="" alt="">
                                                                <h5>Ancient Realms</h5>
                                                            </a>
                                                        </div>
                                                        <div class="d-list-small">
                                                            <a routerLink="/pricing-table-three">
                                                                <img src="assets/images/covers-square/11.webp" class="" alt="">
                                                                <h5>Alien Football</h5>
                                                            </a>
                                                        </div>
                                                        <div class="d-list-small">
                                                            <a routerLink="/pricing-table-four">
                                                                <img src="assets/images/covers-square/12.webp" class="" alt="">
                                                                <h5>Shadow of Night</h5>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="menu-item" routerLink="/locations">Locations</a></li>
                            <li><a class="menu-item" href="javascript:void(0);">Support</a>
                                <ul>
                                    <li><a class="menu-item" routerLink="/knowledgebase">Knowledgebase</a></li>
                                    <li><a class="menu-item" routerLink="/faq">FAQ</a></li>
                                    <li><a class="menu-item" routerLink="/contact">Contact</a></li>
                                </ul>
                            </li>
                            <li><a class="menu-item" href="javascript:void(0);">Company</a>
                                <ul>
                                    <li><a class="menu-item" routerLink="/about">About Us</a></li>
                                    <li><a class="menu-item" routerLink="/affliate">Affliates</a></li>
                                    <li><a class="menu-item" routerLink="/news">News</a></li>
                                </ul>
                            </li>
                            <li><a class="menu-item" href="javascript:void(0);">More Pages</a>
                                <ul>
                                    <li><a class="menu-item" routerLink="/login">Login</a></li>
                                    <li><a class="menu-item" routerLink="/register">Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="de-flex-col">
                        <div class="menu_side_area">
                            <a routerLink="/game-server-1" appBtnMainHover class="btn-main btn-line"><span>Get Hosting</span></a>
                            <span id="menu-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>